body{
    background-color: white;
    color: white;
    font-size: 15px;
    font-family: sans-serif;
    background-image: url(bh.jpg);
    margin-left: 700px;

}

h2{
    font-family: monospace;
    font-size: 20px;
}
h3{
    font-family: arial ;
    font-size: 15px;
}
button{
	background-color:white;
	color:black;
	text-decoration:none;
	padding:10px 10px;
	font-family: monospace;
	opacity: 85%;
    border: 1;
}
button:hover{
    color: grey;
}
button:active{
    color: rgb(93, 236, 65);
}
footer{
padding-top: 55%;


}